# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
coverage/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Node.js
backend/node_modules/

# Environment / secrets
.env
backend/.env
*.env

# Logs
*.log

# IDE
.idea/
.vscode/
backend/uploads/*
